@import "breakpoint.scss";
/* Ajout de la font Akrobat */
@import url('http://fonts.cdnfonts.com/css/akrobat');


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    - Mixins
    - General
	- Header
    - Footer
    - Sidebar
    - Homepage
    - Single
    - Search
    - Autres
    - Animations
*/

/* Mixins
--------------------------------------------- */
@mixin hovering {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@mixin hoveringRotate {
    transition: transform 100ms ease-in-out;

    &:hover {
        transform: scale(1.1) rotate(-10deg);
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin looping-colors {
    &:nth-child(0n+1) {
        background-color: $orange;
    }

    &:nth-child(0n+2) {
        background-color: $green;
    }

    &:nth-child(0n+3) {
        background-color: $blue;
    }

    &:nth-child(0n+4) {
        background-color: $blue;
    }

    &:nth-child(0n+5) {
        background-color: $red;
    }

    &:nth-child(0n+6) {
        background-color: $orange;
    }
}

/* General
--------------------------------------------- */
.site {
    font-family: 'Akrobat', sans-serif;
}

.site-content {
    display: flex;
}


span.dashicons {
    @include for-desktop-up {
        width: 100%;
        height: 100%;
    }

    font-size: 40px;
    color: rgba(0, 0, 0, 0.6);
}

/* Header
--------------------------------------------- */
.site-header {
    padding-top: 10px;

    @include for-desktop-up {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        font-size: 17px;
    }

    & .site-branding {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px;

        & img {
            width: 40vw;
            transition: transform 100ms ease-in-out;

            @include hovering();

        }

        @include for-desktop-up {
            // width: 30%;
            padding-left: 10px;

            & img {
                width: 15vw;
            }
        }
    }

    & a {
        color: black;
        text-decoration: none;


    }

    &-main {
        display: flex;
        // align-items: center;
        flex-direction: column;

        @include for-desktop-up {
            flex-direction: row;
        }

    }

    &-nav {
        padding: 10px 20px;

        @include for-desktop-up {
            display: flex;
            align-items: center;
        }

        & .menu-item {
            margin: 0 10px;

            &:hover {
                &>a {
                    color: $red;
                }
            }
        }
    }

    &-menu {
        width: 100vw;
        flex-direction: column-reverse;

        @include for-desktop-up {
            display: flex;
            width: 45vw;
            flex-direction: row;
        }



        & .menu-item {
            @include flex-center();
            flex: 1 1 0px;
            height: 100px;

            & a {
                color: white;
                transition: transform 100ms ease-in-out;
                font-size: 18px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                text-align: center;

                & i {
                    margin: 0 !important;
                }

                transition: transform 100ms ease-in-out;
                @include hovering();

            }



            &:nth-child(0n+1) {
                background-color: $green;
            }

            &:nth-child(0n+2) {
                background-color: $blue;
            }

            &:nth-child(0n+3) {
                background-color: $red;
            }
        }

        & .search-form {
            background-color: $orange;
            @include flex-center();
            padding: 20px 0;

            @include for-desktop-up {
                width: 100px;

                &.open {
                    width: auto;
                    flex: 0.8 1 0px;

                    & .close-icon {
                        display: none;
                    }

                    & input.search-field {
                        display: block;
                        width: 70%;
                    }

                    & button.search-submit {
                        display: block;
                    }
                }
            }

            & .close-icon {
                @include flex-center();
                transition: transform 100ms ease-in-out;

                @include hoveringRotate();

            }

            & input.search-field {
                background-color: transparent;
                border: none;
                border-bottom: rgba(0, 0, 0, 0.6) 3px solid;
                border-radius: 0;
                color: white;
                margin-right: 10px;
                width: 80%;

                @include for-desktop-up {
                    display: none;
                }

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            & button.search-submit {
                background-color: transparent;
                border: none;
                padding: 0;
                display: none;
                width: 40px;
                height: 40px;
                @include hoveringRotate();
            }
        }

        &>div {
            flex: 1 1 0px;
        }
    }

    .menu-main-container ul {
        display: flex;
    }

    .mobile-open-menu {
        width: fit-content;
        height: 100%;

        @include for-desktop-up {
            display: none;
        }
    }

    .main-navigation.open {
        display: flex;
    }
}

/* Footer
--------------------------------------------- */
.site-footer {

    // width: 100vw;
    & ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & a {
            color: black;
            text-decoration: none;

        }
    }

    &-main {
        display: flex;
        flex-direction: column;

        @include for-desktop-up {
            flex-direction: row;
        }
    }

    &-nav {
        padding: 5px 0;

        & ul {
            @include flex-center();

            & li {
                margin: 5px 5px;

                & a {
                    &:hover {
                        text-decoration: underline;
                        color: $red;
                    }
                }
            }
        }
    }

    &-socials {
        @include for-desktop-up {
            flex: 1 1 0px;
            height: auto;
        }


        & ul {
            display: flex;
            flex-wrap: wrap;

            & li {
                flex: 1 1 33%;
                height: 100px;
                width: 100%;
                @include flex-center();

                @include for-desktop-up {
                    font-size: 25px;
                    height: 150px;

                }

                & a {
                    color: white;
                    width: 100%;
                    height: 100%;
                    @include flex-center();
                    transition: transform 100ms ease-in-out;

                    & i {
                        margin: 0 !important;
                    }

                    @include hovering();
                }

                @include looping-colors();
            }
        }

    }

    &-partners {
        background-color: $grey;

        @include for-desktop-up {
            flex: 1.5 1 0px;
            height: auto;

        }
    }

    &-question {
        background-color: $purple;
        color: white;

        @include for-desktop-up {
            flex: 1 1 0px;
            height: auto;

        }
    }
}


/* Sidebar 
--------------------------------------------- */
aside#secondary {
    display: none;

    @include for-desktop-up {
        display: block;
        width: 20vw;
    }


    h2 {
        text-transform: uppercase;
    }

    ul {
        margin: 0;
    }

    .wp-block-latest-posts__list {
        li {
            & a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 300px;
                display: inline-block;
            }

            & div {
                display: flex;
                flex-direction: column;
            }

            & .moretag {
                color: white;
                background-color: $purple;
                font-size: 15px;
                padding: 5px 10px;
                text-decoration: none;
                text-align: center;
                margin-top: 10px;
                align-self: flex-end;
                position: relative;
                top: 5px;
                right: 25px;

                @include for-desktop-up {
                    width: 30%;
                }

                transition: transform ease-in 100ms;
                @include hovering();
            }

            background-color: $grey;
            padding-left: 10px;
            padding-top: 10px;

            &:nth-child(even) {
                background-color: white;
            }
        }

        a {
            font-size: 22px;
            color: #a3195b;
        }
    }

    .wp-block-embed__wrapper {
        @include flex-center();

        iframe {
            width: 90%;
            height: 200px;
        }
    }
}

/* Homepage
--------------------------------------------- */
.site-main {
    &-content {
        margin: 40px 20px;

        &-news {
            @include for-desktop-up {
                width: 50vw;
            }


            & article {
                @include for-desktop-up {
                    width: 90%;
                }

                margin-bottom: 30px;
            }

            & div {
                margin: 0;
                margin-left: 10px;
            }

            article h1 {
                font-size: 20px;
                margin: 0;
                margin-top: 10px;
                margin-left: 10px;

            }

            & img {
                display: none;
            }

            & hr {
                background-color: $purple;
                height: 3px;
            }

            & .moretag {
                color: white;
                background-color: $purple;
                padding: 10px 40px;
                text-decoration: none;
                text-align: center;
                margin-top: 10px;
                align-self: flex-end;
                position: relative;
                top: 10px;
                left: 10px;

                @include for-desktop-up {
                    width: 30%;
                }


                transition: transform ease-in 100ms;
                @include hovering();
            }

            & p {
                display: flex;
                flex-direction: column;
            }

            & .firstpost {
                background-color: $grey;
                width: 100%;

                & img {
                    display: block;
                }

                & h1 {
                    font-size: 30px;

                }
            }
        }
    }
}

/* Single
--------------------------------------------- */

.site-single {
    padding: 10px 20px;

    @include for-desktop-up {
        width: 80vw;
        padding: 30px 0;
        padding-right: 70px;
        padding-left: 30px;
    }

    & .post-thumbnail {
        width: 50%;
    }

    &-banner {
        border-bottom: 4px $orange solid;
        text-align: center;

        &-content {
            z-index: 1;
            position: absolute;
            height: 100px;
            width: 100%;
            @include flex-center();
            flex-direction: column;

            @include for-desktop-up {
                height: 200px;
            }

            h1 {
                width: 90%;
                font-size: 18px;
                font-weight: 600;
                color: white;
                margin: 0;

                @include for-desktop-up {
                    font-size: 40px;
                }
            }


            a {
                color: white;
                text-decoration: none;
                margin: 0 5px;

                &:hover {
                    text-decoration: underline;
                }
            }

            &-details {
                color: white;
                text-transform: uppercase;
                display: flex;
            }
        }

        &-background {
            height: 100px;
            overflow: hidden;

            @include for-desktop-up {
                height: 200px;
            }

            & img {
                object-fit: cover;
                filter: blur(5px);
                height: 100%;
                width: 100%;
                transform: scale(1.1);

            }
        }
    }
}

/* Searching
--------------------------------------------- */
.site-search {
    h1.page-title {
        text-align: center;

        @include for-desktop-up {
            text-align: start;
        }
    }

    @include for-desktop-up {
        width: 80vw;
        padding: 30px 30px;
    }

    &-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        @include for-desktop-up {
            width: auto;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    & article {
        background-color: $grey;
        display: flex;
        flex-direction: column;
        width: 90vw;

        @include for-desktop-up {
            width: 23%;

        }

        margin: 10px 10px;
        text-align: center;

        transition: transform 100ms ease-in-out,
        box-shadow 100ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px;
        }

        & a {
            color: black;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }

    & h2 {
        margin: 5px 0;
    }

    & .entry-header {
        height: 150px;
        overflow: hidden;

        @include for-desktop-up {
            height: 150px;
        }

        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

}

/* Autres
--------------------------------------------- */
// Fil instagram
#sb_instagram {
    background-color: $red;

    @include for-desktop-up {
        padding: 10px 10vw;

    }

    & .sbi_photo_wrap {
        border: 3px solid white;

        @include for-desktop-up {
            border: 5px solid white;
        }
    }
}

// Fil d'ariane (Breadcrumb)
#breadcrumbs {
    background-color: $grey;
    margin: 0;
    padding: 15px 15px;

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        color: $red;
    }
}