@import "breakpoint.scss";
/* Ajout de la font Akrobat */
@import url('http://fonts.cdnfonts.com/css/akrobat');


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    - Mixins
    - General
	- Header
    - Footer
*/

/* Mixins
--------------------------------------------- */
@mixin hovering {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@mixin hoveringRotate {
    transition: transform 100ms ease-in-out;

    &:hover {
        transform: scale(1.1) rotate(-10deg);
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General
--------------------------------------------- */
.site {
    font-family: 'Akrobat', sans-serif;
}

span.dashicons {
    @include for-desktop-up {
        width: 100%;
        height: 100%;
    }

    font-size: 40px;
    color: rgba(0, 0, 0, 0.6);
}

/* Header
--------------------------------------------- */
.site-header {
    padding-top: 10px;

    @include for-desktop-up {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        font-size: 17px;
    }

    & .site-branding {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px;

        & img {
            width: 40vw;
            transition: transform 100ms ease-in-out;

            @include hovering();

        }

        @include for-desktop-up {
            // width: 30%;
            padding-left: 10px;

            & img {
                width: 15vw;
            }
        }
    }

    & a {
        color: black;
        text-decoration: none;


    }

    &-main {
        display: flex;
        // align-items: center;
        flex-direction: column;

        @include for-desktop-up {
            flex-direction: row;
        }

    }

    &-nav {
        padding: 10px 20px;

        @include for-desktop-up {
            display: flex;
            align-items: center;
        }

        & .menu-item {
            margin: 0 10px;

            &:hover {
                &>a {
                    color: $red;
                }
            }
        }
    }

    &-menu {
        width: 100vw;
        flex-direction: column-reverse;

        @include for-desktop-up {
            display: flex;
            width: 45vw;
            flex-direction: row;
        }



        & .menu-item {
            @include flex-center();
            flex: 1 1 0px;
            height: 100px;

            & a {
                color: white;
                transition: transform 100ms ease-in-out;
                font-size: 18px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                text-align: center;

                & i {
                    margin: 0 !important;
                }

                transition: transform 100ms ease-in-out;
                @include hovering();

            }



            &:nth-child(0n+1) {
                background-color: $green;
            }

            &:nth-child(0n+2) {
                background-color: $blue;
            }

            &:nth-child(0n+3) {
                background-color: $red;
            }
        }

        & .search-form {
            background-color: $orange;
            @include flex-center();
            padding: 20px 0;

            @include for-desktop-up {
                width: 100px;

                &.open {
                    width: auto;
                    flex: 0.8 1 0px;

                    & .close-icon {
                        display: none;
                    }

                    & input.search-field {
                        display: block;
                        width: 70%;
                    }

                    & button.search-submit {
                        display: block;
                    }
                }
            }

            & .close-icon {
                @include flex-center();
                transition: transform 100ms ease-in-out;

                @include hoveringRotate();

            }

            & input.search-field {
                background-color: transparent;
                border: none;
                border-bottom: rgba(0, 0, 0, 0.6) 3px solid;
                border-radius: 0;
                color: white;
                margin-right: 10px;
                width: 80%;

                @include for-desktop-up {
                    display: none;
                }

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            & button.search-submit {
                background-color: transparent;
                border: none;
                padding: 0;
                display: none;
                width: 40px;
                height: 40px;
                @include hoveringRotate();
            }
        }

        &>div {
            flex: 1 1 0px;
        }
    }

    .menu-main-container ul {
        display: flex;
    }

    .mobile-open-menu {
        width: fit-content;
        height: 100%;

        @include for-desktop-up {
            display: none;
        }
    }

    .main-navigation.open {
        display: flex;
    }
}

/* Footer
--------------------------------------------- */
.site-footer {

    // width: 100vw;
    & ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & a {
            color: black;
            text-decoration: none;

        }
    }

    &-main {
        display: flex;
        flex-direction: column;

        @include for-desktop-up {
            flex-direction: row;
        }
    }

    &-nav {
        padding: 5px 0;

        & ul {
            @include flex-center();

            & li {
                margin: 5px 5px;

                & a {
                    &:hover {
                        text-decoration: underline;
                        color: $red;
                    }
                }
            }
        }
    }

    &-socials {
        @include for-desktop-up {
            flex: 1 1 0px;
            height: auto;
        }


        & ul {
            display: flex;
            flex-wrap: wrap;

            & li {
                flex: 1 1 33%;
                height: 100px;
                width: 100%;
                @include flex-center();

                @include for-desktop-up {
                    font-size: 25px;
                    height: 150px;

                }

                & a {
                    color: white;
                    width: 100%;
                    height: 100%;
                    @include flex-center();
                    transition: transform 100ms ease-in-out;

                    & i {
                        margin: 0 !important;
                    }

                    @include hovering();
                }

                &:nth-child(0n+1) {
                    background-color: $orange;
                }

                &:nth-child(0n+2) {
                    background-color: $green;
                }

                &:nth-child(0n+3) {
                    background-color: $blue;
                }

                &:nth-child(0n+4) {
                    background-color: $blue;
                }

                &:nth-child(0n+5) {
                    background-color: $red;
                }

                &:nth-child(0n+6) {
                    background-color: $orange;
                }
            }
        }

    }

    &-partners {
        background-color: $grey;

        @include for-desktop-up {
            flex: 1.5 1 0px;
            height: auto;

        }
    }

    &-question {
        background-color: $purple;
        color: white;

        @include for-desktop-up {
            flex: 1 1 0px;
            height: auto;

        }
    }
}


@mixin square-size {
    width: 500px;
    height: 500px;
}

.close {

    @include square-size();

    &-nav.white {

        @include square-size();

        & a.item {
            color: white;
        }
    }
}