/* Homepage
--------------------------------------------- */


.site-main {
    & section.home-section {
        padding: 40px 25px;

        @include for-tablet-portrait-up {
            padding: 40px 45px;

        }

        @include for-tablet-landscape-up {
            padding: 40px 150px;
        }

        @include for-desktop-up {
            padding: 40px 100px;

        }

    }

    & h2.secondary-title {
        @include make-it-flex(center, center, row, row);

        text-transform: uppercase;
        vertical-align: middle;
        font-size: 25px;
        margin-top: 0;

        @include for-tablet-portrait-up {
            font-size: 35px;
        }

        @include for-tablet-landscape-up {
            font-size: 40px;
        }

        @include for-desktop-up {
            justify-content: flex-start;
            // font-size: 45px;

        }

        & .dashicons {
            margin-right: 10px;
            @include hwf(40px);

            @include for-tablet-portrait-up {
                @include hwf(50px);
            }

            @include for-tablet-landscape-up {
                @include hwf (70px);
            }

            @include for-desktop-up {
                // @include hwf(80px);
            }
        }
    }

    &-content {
        @include make-it-flex(initial, initial, column, row);





        @include for-desktop-up {

            justify-content: space-around;
        }

        & h2 {
            font-size: 30px;
            margin: 10px 0;

            @include for-tablet-landscape-up {
                font-size: 40px;
            }
        }



        &-news {
            @include for-desktop-up {
                width: 45%;
                margin: 0 20px;

            }

            & article {
                display: flex;
                align-items: center;
                border-top: 2px rgba(130, 130, 130, 0.519) solid;
                margin: 15px 0;
                padding: 5px 0;

                & a {
                    text-decoration: none;
                }


                &:hover {
                    & header {
                        border-left: 3px $purple solid;
                    }

                    & .dashicons {
                        animation: rotate-center 0.6s ease-in-out both;
                    }
                }

                & header {
                    transition: background-color 150ms ease-in, border-left 150ms ease-in;
                    width: 100%;

                }

                & .dashicons {
                    margin: 0 15px;
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                }
            }

            & div {
                @include quadruple-margin(0, 0, 10px, 0);
            }

            article h1 {
                font-size: 20px;
                margin: 0 10px;
                padding-top: 5px;
                // @include for-desktop-up {
                //     @include quadruple-margin(10px, 10, 10px, 0);
                // }
            }

            & img {
                display: none;
            }

            & hr {
                background-color: $purple;
                height: 3px;
            }

            & .moretag {
                text-align: center;
                margin-top: 10px;
                width: 100%;
                position: relative;
                top: 10px;
                right: 5px;
                font-size: 17px;

                @include for-desktop-up {
                    width: 30%;
                    align-self: flex-end;
                    right: 0;
                    left: 10px;
                }

                @include button($purple, white);

            }

            & p {
                @include make-it-flex(initial, initial, column, column);
                font-size: 17px;
            }

            & .firstpost {
                display: block;
                background-color: $grey;
                width: 100%;
                padding: 0;
                border: none;

                &:hover {
                    & header {
                        border-left: none;
                    }
                }

                & img {
                    display: block;
                    height: 300px;
                    object-fit: cover;
                }

                & h1 {
                    font-size: 25px;

                }
            }
        }

        &-offers {
            @include for-desktop-up {
                width: 30%;
                margin: 0 20px;

            }

            font-family: 'Akrobat',
            sans-serif;

            & .offers-item {
                & hr {
                    border: none;
                    background-color: $green;
                    height: 3px;
                }

                width: 100%;

                & .is-layout-flex {
                    align-items: stretch;
                    gap: 0;
                }

                & .wp-block-button {
                    flex: 25%;

                    @include for-tablet-landscape-up {
                        flex: 40%;

                    }

                    margin: 10px 10px;

                    @include hovering-scale(1.05);

                    & a {
                        width: 100%;
                        border-radius: 0;
                        padding: calc(1.3em + 2px) calc(1.333em + 2px);
                        @include text-overflow(ellipsis);

                        @include make-it-flex(initial, center, column, column);

                        @include for-tablet-or-below {
                            font-size: 20px !important;
                        }

                        & span {
                            $z : 25px;

                            @include for-tablet-landscape-up {
                                $z: 40px;
                            }

                            width: $z;
                            height: $z;
                            font-size: $z;


                        }

                    }
                }
            }
        }

    }



    &-instagram {
        @include define-colors($grey, $red);

        @include for-desktop-up {
            text-align: start
        }


    }

    &-proposals {




        & .proposals-list {


            &>.wp-block-group__inner-container {
                @include make-it-flex(space-around, flex-start, column, row);
                flex-wrap: nowrap;

                @include for-tablet-landscape-up {
                    flex-direction: row;
                }
            }

            & .wp-block-hyperlink-group {
                color: black;

                @include for-tablet-landscape-up {
                    flex: 0 1 25%;


                }
            }

            & .proposals-list-item .wp-block-group__inner-container {
                width: 85vw;
                margin: 20px 0;
                text-align: center;
                @include hovering-scale(1.1);

                @include for-tablet-landscape-up {
                    text-align: left;
                    width: auto;
                    min-height: 400px;
                    margin: 0 20px;
                }

                & figure {
                    height: 150px;
                    @include make-it-flex(center, center, column, column);

                    @include for-desktop-up {
                        display: block;
                    }
                }

                & img {
                    height: 100%;
                    object-fit: contain;
                    width: 80%;

                    @include for-desktop-up {
                        width: 100%;
                    }
                }

                & h3 {
                    font-size: 25px;
                    margin: 0;
                }

            }
        }




    }

    & .close-icon {
        display: none;
    }
}