/* Searching
--------------------------------------------- */
.site-search {
    h1.page-title {
        text-align: center;

        @include for-desktop-up {
            text-align: start;
        }
    }

    width: 100vw;
    padding: 20px 10px;

    @include for-desktop-up {
        padding: 30px 30px;
    }

    &-result {
        display: flex;
        @include make-it-flex(flex-start, flex-start, column, column);

        @include for-desktop-up {
            flex-wrap: wrap;
        }
    }

    & article {

        &.awsm_job_openings {
            & a {
                color: $orange;
            }
        }

        &.page {
            & a {
                color: $green;
            }
        }

        &.post {
            & a {
                color: $purple;
            }
        }

        & h2 {
            margin: 5px 0;

            & a {
                font-size: 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

            }


        }
    }


    & .navigation {
        @include make-it-flex(center, center, row, row);
        margin-top: 30px;
        flex-basis: 100%;

        & a {
            @include button($purple, white)
        }
    }

    & .nav-links {
        width: 100%;
        flex-direction: column;

        & div {
            margin: 15px 0;
        }

    }
}