/* Sidebar 
--------------------------------------------- */
aside#secondary {
    display: none;

    @include for-desktop-up {
        display: block;
        width: 20vw;
    }


    h2 {
        text-transform: uppercase;
        margin: 15px 0;
        margin-top: 30px;
    }

    ul {
        margin: 0;
    }

    hr,
    .widget.widget_block {
        margin-bottom: 15px;
    }

    .wp-block-latest-posts__list {
        li {
            border-bottom: grey 1px solid;
            padding: 5px 0;

            transition: transform 100ms ease-in-out;

            &:hover {

                transform: translateX(-10px);

            }

            & a {
                @include text-overflow(ellipsis);
                width: 100%;
                display: inline-block;
                font-size: 18px
            }

            & div {
                @include make-it-flex(initial, initial, column, column);
                font-size: 18px;
            }

            & .wp-block-latest-posts__post-excerpt {
                font-size: 15px;
            }

            & .moretag {

                font-size: 13px;
                text-align: center;
                margin-top: 10px;

                @include button($purple, white);
            }

            @include quadruple-padding(10px, 0, 10px, 0);
        }

        a {
            font-size: 22px;
            color: $purple;
        }
    }

    & .is-layout-flex {
        align-items: stretch;
        gap: 0;
    }

    & .wp-block-button {
        flex: 25%;

        @include for-tablet-landscape-up {
            flex: 35%;

        }

        margin: 10px 10px;

        @include hovering-scale(1.05);

        & a {
            width: 100%;
            border-radius: 0;
            padding: calc(1.3em + 2px) calc(1.333em + 2px);
            @include text-overflow(ellipsis);
            @include make-it-flex(initial, center, column, column);
            font-size: 20px;


            & span {
                $z : 15px;

                @include for-tablet-landscape-up {
                    $z: 25px;
                }

                width: $z;
                height: $z;
                font-size: $z;


            }
        }
    }

    .wp-block-embed__wrapper {
        @include make-it-flex(center, center, row, row);

        iframe {
            width: 90%;
            height: 200px;
        }
    }
}